{{ define "news" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News & Events</title>
    {{ template "styles" }}
</head>
<body>
    {{ template "header" }}
    <main class="container">
        <h1 class="silk-heading silk-heading--centered">News <span class="silk-heading__sep">&</span><br> Events</h1>
        <ul class="news preview-list">
            {{ range news }}
            {{ template "news_list_item" . }}
            {{ end }}
        </ul>
    </main>
    {{ template "footer" }}
    {{ template "scripts" }}
</body>
</html>
{{ end }}

{{ define "news_list_item" }}
    <li>
        {{ if eq .ContentType "link" }}
        <small class="news-source">{{ .Source }}</small>
        {{ end }}
        {{ .Title }}
        {{ if eq .ContentType "link" }}
        <a href="{{ .Link }}" class="read-more" target="_blank">Read more &rarr;</a>
        {{ else if eq .ContentType "article" }}
        <a href="/articles/{{ .Article.Slug }}" class="read-more" target="_blank">Read more &rarr;</a>
        {{ end}}
    </li>
{{ end }}