{{ define "priorities" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accomplishments & Priorities</title>
    {{ template "styles" }}
</head>
<body>
    {{ template "header" }}
    <main class="container">
        <h1 class="silk-heading silk-heading--centered">Accomplishments <span class="silk-heading__sep">&</span><br> Priorities</h1>
        <div class="priorities">
            {{ range priorities }}
            <section class="priority">
                <a id="{{ .Slug }}" class="anchor"></a>
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </section>
            {{ end }}
        </div>
    </main>
    {{ template "footer" }}
    {{ template "scripts" }}
</body>
</html>
{{ end }}